.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}



/* .App-link {
  color: #61dafb;
} */
button{
  outline: none!important;
}

#gotoTop {
  opacity: 0;
  z-index: -1;
  position: fixed;
  width: 40px;
  height: 40px;
  background-color:rgba(144, 142, 138, 0.38);
  line-height: 36px;
  text-align: center;
  color: #fff;
  top: auto;
  left: auto;
  right: 30px;
  bottom: 51px;
  cursor: pointer;
  border-radius: 2px;
}
/* .icon-angle-up:before {
  content: "\e7a6";
}
.makeStyles-linkStyle-7 a{
  color:white!important;
  text-shadow: 0px 3px 5px #0e090096

} */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#my-accont{
  min-height:900px;
  heigth:auto
}