.MuiLinearProgress-root {
    height: 3px;
    width: 130px;
    overflow: hidden;
    position: relative;
    display: block;
    margin: auto;
}
.bigAvatar {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 5px solid #ffa500;
    border-radius: 50%;
}
.MuiButton-containedPrimary{
    margin: auto !important;
    display: table !important;
    padding: 2px 10px !important;
}
.deleteAvatar{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 10px;
    margin-left: 145px;
}