

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerProf {
    width: 100%;
    height: fit-content;
    position: relative;
    top: 0;
    z-index: 1;
}

.transperentDiv {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #25262A;
    opacity: .6;
    position: fixed;
}

.container-info {
    position: relative;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.centerProf {
    max-width: 900px;
    margin: 20px auto;
    /*background-color: #FFC000;*/
    /*box-shadow: 0 0 20px #FFC000;*/
    background-color: #e1e1e1;
    box-shadow: 0 0 20px #aba7a7bd;
    text-align: center;
    position: relative;
    padding: 40px 28px 28px;
}

.imgFlex {
    display: flex;
    align-items: center;
    padding: 0 30px 40px;
    border-bottom: 2px solid #fff;
}

.info {
    max-width: 800px;
    text-align: start;
    padding-left: 80px;
}

.imgDiv {
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.flexIcon {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.pProf {
    font-size: 30px;
    font-weight: bold;
}

.pAbout {
    font-size: 14px;
    color: #25262A;
    margin-top: 20px;
    line-height: 30px;
}

.iconDiv {
    max-width: 300px;
    position: relative;
    display: flex;
    margin-top: 15px;
}

.icon {
    color: #FEA610;
    background-color: #fff;
    box-shadow: 0 0 10px #FF6741;
    border-radius: 5px;
}

.spanProf {
    color: #25262A;
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
}

.skillLightbox {
background-color: #ffffff;
padding: 40px;
position: relative;
font-size: 14px;
margin-top: 40px;
position: relative;
border-radius: 20px;
box-shadow: 0 0 10px #25262A;
}

.absolute {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /*background-color: #FFCD33;*/
    background-color: #ff9800;
    position: relative;
}

.flexSkill {
    background-color: #fff;
    padding: 15px 25px;
}

.flexLightboxx {
    flex-basis: 60%;
    background-color: #fff;
    padding: 10px 0;
}


.box {
    width: 0;
    height: 0;
    border-right: 15px solid #fff;
    border-left: 15px solid #fff;
    border-bottom: 15px solid #ff9800;
    border-top: 15px solid #fff;
    position: absolute;
    top: -30px;
    left: 50px;
}


.listSkill {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    color: #25262A;
    padding-top: 20px;
    text-align: start;
    line-height: 30px;
}
.mfp-close:hover {
    color: #fff;
}

.listSkill li {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 10px;
    list-style-type: none;
    box-shadow: 0 0 10px #FFC000;
    font-size: 13px;
    color: #25262A;
}

.headingSkill {
    text-transform: uppercase;
    text-align: start;
    font-weight: bold;
    color: #25262A;
    letter-spacing: 4px;
}

.headingLbox {
    text-transform: uppercase;
    text-align: start;
    font-weight: bold;
    letter-spacing: 4px;
    color: #25262A;
    padding-left: 10px;
}




  

  /* .buttonProfile {
    padding: 4px 5px;
    cursor: pointer;
    outline: 0;
    color: #e77817;
    border-top: 4px solid #e77817;
    border-left: 4px solid #e77817;
    /*
    border-bottom: none;
    border-right: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 10px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px #e77817;
    background-color: #25262A;
    background-color: #25262A;
    outline: none;
  }
  
  .button:active {
    transform: translateY(2px);
    box-shadow: 4px 4px 0px #FF6741;
  } */
  
  /*.childDiv {
    width: 100%;
    height: 80%;
    opacity: .7;
    background-color: #FF6741;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 20px #FA9A4D;
    padding: 40px;
  }*/

  /* #skillDiv.skillClass{
    opacity: .9;
    width: 60%;
    height: 285px;
    background-color: #B6B7B1;
    border-radius: 20px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    box-shadow: 0 0 20px #fff;
   }
   
   #skillDiv {
    transition: all .8s linear;
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 1;
   } */

   

