.mainDiv{
    border: thin solid #ff980054;
    border-radius: 22px;
    padding: 16px 22px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    margin-bottom: 30px;


}
.imagesDiv{
    width: 310px;
    display: inline-block;
}

.imageDiv {
    width: 150px;
    height: 150px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/varpet-com.appspot.com/o/Avatars%2FR0x1ZhmoJ8qL9xKcpzPZ?alt=media&token=f24dc6b2-9124-4694-be82-b39c29d71ad6");
    background-size: cover;
    border: thin solid #ff980054;
    display: inline-block;
    float: left;
    margin:2px;
    border-radius: 8px;
}
.loadDiv1{
    opacity: 0;
    position: relative;
    width: 50%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    float: left;
}
.loadDiv1:hover{
    opacity: .8;
    transition: all .3s ease-in-out;
}
.loadDiv2{
    opacity: 0;
    position: relative;
    width: 50%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    float: right;
}
.loadDiv2:hover{
    opacity: .8;
    transition: all .3s ease-in-out;
}
.plusIconStyle {
    color: white!important;
    height: 40px !important;
    width: 40px!important;
    display: block!important;
    margin:  73% 11px !important; ;
    position: absolute;
}
.inputStyle{
    display: block;
    width:100%;
    height:100%;
    opacity:0;

}
.zoomInIconStyle {
    color: white!important;
    height: 50px !important;
    width: 50px!important;
    display: block!important;
    margin:  73% 11px  !important; ;
    position: absolute;
}
.zoomInMainDiv{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    outline: none !important;
    /* -webkit-backface-visibility: hidden; */
}

.zoomInDiv{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: absolute;
    opacity: 0.8;
    outline: none !important;
    /* -webkit-backface-visibility: hidden; */
    background-color: #0b0b0b;
    display: table-cell;
    vertical-align: middle;
}
.zoomInDiv1{
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 90vh;
    z-index: 3;
    position: relative;
    outline: none !important;
    /* -webkit-backface-visibility: hidden; */
     display: table-cell;
    vertical-align: middle;
}

.imgZoom{
    width: auto;
    max-width: 100%;
    max-height: 90vh;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0;
    margin: 0 auto;
}
.imgDelete{
    color: white;
    float: right;
    margin: 10px;
    height: 30px!important;
    width: 30px!important;
}


.preview__header {
    width: 100vw;
    font-size: 12px;
    height: 10vh;
    background-color: #212529;
    line-height: 54px;
    margin-bottom: 1px;
    border-bottom: 1px solid black;
    z-index: 4;
    position: absolute;
}
.logoStyle{
    width: 10vw;
    display: inline-block;
    float: left;
    margin: 10px;
}
.closeButton{
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 2vw;
    top: 0;
    text-decoration: none;
    text-align: center;
    padding: 0 0 18px 10px;
    color: #989898;
    font-style: normal;
    font-size: 22px;
    border: none;
    background-color:transparent;
}
.closeButton:hover{
    color: white;
}