.center .heading-block:after, .heading-block.center:after, .heading-block.title-center:after {
    margin: 30px auto 0;
}
.heading-block.title-center-own:after {
    margin: 10px auto 0;
}
.own1{
    margin:70px 0 20px
}
.own{
    margin:0 0 20px
}

.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 .number {
    background: #ff9800;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: .8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 hsla(0,0%,100%,.2);
    border-radius: 15px 15px 15px 0;
}
.heading-block:after {
    content: '';
    display: block;
    margin-top: 30px;
    width: 40px;
    border-top: 2px solid #FF9800;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.heading-block {
    margin-bottom: 50px;
}
#content, #masters, #my-account {
    margin: 0;
    width: 100%;
    min-height: 600px;
    padding: 80px 0;
}
#content {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    min-height: 600px!important
}

#my-account{
    padding: 10px 0;
}
#masters{
    background-color: #eaeaea;
}
#my-account .container {
    width: 100%;
    height: 100vh;
    padding-top: 0!important;
}
.pointer{cursor:pointer}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    width: auto!important;
    background-color: transparent!important;
    padding: 0!important;
    font-size: 14px;
    margin: 12px;
}

.breadcrumb-item.active  a{
    color:#ff9800!important;
}
.heading-block h3 {
    font-size: 26px;
}
.emphasis-title h1, .emphasis-title h2, .heading-block h1, .heading-block h2, .heading-block h3, .heading-block h4 {
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
}
.center .heading-block > span, .heading-block.center > span, .heading-block.title-center > span {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.heading-block > span:not(.before-heading) {
    display: block;
    margin-top: 10px;
    font-weight: 300;
    color: #777;
}
.heading-block h3 + span, .heading-block h4 + span {
    font-size: 20px;
}
.grid-border [class^=col-] {
    margin: -1px 0 0 -1px;
    border: 1px solid #eee
}
.cat{
    padding: 30px!important;
}
.grid-border [class^=col-]:hover {
    background-color: rgba(241, 128, 82, .1);
    border-color: #FF9800;
    z-index: 1;
}
.grid-border [class^=col-].check {
    background-color: rgba(241, 128, 82, .1);
    border-color: #FF9800;
    z-index: 1;
}
.no-masters{
    color:#ff9800
}
.feature-box {
    position: relative;
    margin-top: 20px;
    padding: 0 0 0 80px
}

.feature-box:first-child {
    margin-top: 0
}

.feature-box .fbox-icon {
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 0;
    left: 0
}

.feature-box .fbox-icon a, .feature-box .fbox-icon i, .feature-box .fbox-icon img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff
}

.feature-box .fbox-icon i, .feature-box .fbox-icon img {
    border-radius: 50%;
    background-color: #ffb118
}

.feature-box .fbox-icon i {
    font-style: normal;
    font-size: 28px;
    text-align: center;
    line-height: 64px
}

.feature-box h3 {
    font-size: 16px;
    font-weight: 700;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #333
}

.feature-box p {
    margin: 8px 0 0;
    color: #999
}


.feature-box.fbox-dark .fbox-icon i, .feature-box.fbox-dark .fbox-icon img {
    background-color: #333
}

.feature-box.fbox-plain .fbox-icon i, .feature-box.fbox-plain .fbox-icon img {
    border: none !important;
    background-color: transparent !important;
    color: #ffb118;
    border-radius: 0
}

.feature-box.fbox-plain .fbox-icon i {
    font-size: 48px;
    line-height: 1 !important
}

.feature-box.fbox-plain .fbox-icon img {
    height: 64px
}

.feature-box.fbox-plain.fbox-image .fbox-icon {
    width: auto
}

.feature-box.fbox-plain.fbox-image .fbox-icon img {
    width: auto;
    display: inline-block
}

.feature-box.fbox-plain.fbox-small {
    padding-left: 42px
}

.feature-box.fbox-plain.fbox-small .fbox-icon {
    width: 28px
}

.feature-box.fbox-plain.fbox-small h3 {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 10px
}

.feature-box.fbox-plain.fbox-small p {
    margin-left: -42px
}

.feature-box.fbox-plain.fbox-small .fbox-icon i {
    font-size: 28px
}

.feature-box.fbox-plain.fbox-small .fbox-icon img {
    height: 28px
}



.feature-box.fbox-plain.fbox-dark .fbox-icon i, .feature-box.fbox-plain.fbox-dark .fbox-icon img {
    color: #444
}

.feature-box.fbox-center {
    padding: 0;
    text-align: center
}

.feature-box.fbox-center.fbox-small {
    padding-left: 0;
}

.feature-box.fbox-center .fbox-icon {
    position: relative;
    width: 96px;
    height: 96px;
    margin: 0 auto 30px
}

.feature-box.fbox-center .fbox-icon i {
    font-size: 42px;
    line-height: 96px
}

.feature-box.fbox-center.fbox-outline .fbox-icon i {
    line-height: 88px
}

.feature-box.fbox-center p {
    font-size: 14px;
    margin-top: 15px
}

.feature-box.fbox-center.fbox-plain .fbox-icon i {
    font-size: 84px
}

.feature-box.fbox-center.fbox-plain .fbox-icon img {
    height: 96px
}

.feature-box.fbox-center.fbox-large.fbox-plain .fbox-icon i {
    font-size: 112px
}

.feature-box.fbox-center.fbox-large.fbox-plain .fbox-icon img {
    height: 128px
}

.feature-box.fbox-center.fbox-small .fbox-icon {
    width: 64px;
    height: 64px
}

.feature-box.fbox-center.fbox-small .fbox-icon i {
    font-size: 28px;
    line-height: 64px
}

.feature-box.fbox-center.fbox-small.fbox-outline .fbox-icon i {
    line-height: 58px
}


.feature-box.fbox-center.fbox-small.fbox-plain .fbox-icon i {
    font-size: 56px
}

.feature-box.fbox-center.fbox-small.fbox-plain .fbox-icon img {
    height: 64px
}

.feature-box.fbox-center.fbox-small p {
    font-size: 14px;
    margin-top: 10px
}

.feature-box.fbox-center.fbox-plain.fbox-small p {
    margin-left: 0
}

.feature-box h3 + .fbox-icon {
    margin-top: 20px !important
}

.feature-box h3 span.subtitle {
    display: block;
    margin-top: 5px;
    color: #444;
    font-weight: 300;
    text-transform: none
}

.feature-box.fbox-center:not(.fbox-bg) h3:after {
    content: '';
    display: block;
    margin: 20px auto;
    width: 30px;
    border-top: 2px solid #555;
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease
}

.feature-box.fbox-center:not(.fbox-bg):hover h3:after {
    width: 50px
}

.feature-box.fbox-center.noborder:not(.fbox-bg) h3:after, .feature-box.fbox-center.nobottomborder:not(.fbox-bg) h3:after {
    display: none
}


.feature-box.fbox-bg.fbox-center {
    margin-top: 68px;
    padding: 68px 30px 30px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px
}
a {
    text-decoration: none !important;
    color: #6c757d!important;
}
.feature-box.fbox-bg.fbox-center:first-child {
    margin-top: 48px
}


.feature-box.fbox-bg.fbox-center .fbox-icon {
    position: absolute;
    top: -48px;
    left: 50%;
    margin: 0 0 0 -48px
}


.feature-box.fbox-bg.fbox-center.fbox-plain .fbox-icon {
    background-color: #fff
}

.real-estate-icons {
    font-size: 16px;
    line-height: 2;
}

.real-estate-icons i.big-icon {
    position: relative;
    font-size: 32px;
    margin-right: 10px;
    top: 8px;
}

.real-estate-icons span i.thumb-icon  {
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 30px;
    padding: 10px;
    border: 1px solid #EEE;
    background-color: #FFF;
    font-size: 64px;
    line-height: 1;
    z-index: 1;
}

.real-estate-icons [class^=col-]:hover span i.thumb-icon { visibility: visible; }

.mfp-bg {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    opacity: 0;
    outline: none !important;
    /*-webkit-backface-visibility: hidden;*/
    background-color:  rgba(0, 0, 0, 0.36);

}
.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #fe9650;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}
button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
}
.row.brd{
    border: thin solid #ff980054;
    border-radius: 22px;
}
span.err{
    color: #F44336;
    text-shadow: 1px 2px 0px #ccc4c4ba;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 14px;
    display: block;
}
.row.edit-sk{
    border: thin solid #ff980054;
    border-radius: 22px;
    padding: 6px 12px 23px;
}

.edit:after{
    content:url("./edit.png")!important;
    display: block;
    width: 40px;
    /*border-top: 2px solid #FF9800;*/
    position: absolute;
    left: 92%;
    top: 12px;
    cursor:pointer;
    opacity:1
}
input.edit.not-valid{
    border: thin solid rgba(255, 40, 93, 0.33);
    background-color: rgba(255, 40, 93, 0.14);
}
.edit.on:after{
    content:url("./yes.png")!important;
    display: block;
    width: 40px;
    /*border-top: 2px solid #FF9800;*/
    position: absolute;
    left: 86%;
    top: 12px;
    cursor:pointer;
    opacity:1
}
.no.on:after{
    content:url("./no.png")!important;
    display: block;
    width: 40px;
    /*border-top: 2px solid #FF9800;*/
    position: absolute;
    left: 92%;
    top: 12px;
    cursor:pointer;
    opacity:1
}
input.edit {
    outline: none!important;
    border: 0;
    background-color: rgba(255, 165, 0, 0.14);
    padding: 2px;
    margin: 2px;
}
.err-subscribe{
    color:red;
    font-size: small;
    position: absolute;
    bottom: 43px;
    width: 100%;
    right: 0;

}
.selectpicker{
    margin:0 12px;
    outline:none
}